@media screen and (max-width: 1920px) { 

	.cn-temp-feat li:nth-child(7) { top: 35.5%; left: 50.5%;}
.cn-temp-feat li:nth-child(1) { top: 16%; left: 49.5%;}
.cn-temp-feat li:nth-child(2) { top: 15%; left: 42%;}
.cn-temp-feat li:nth-child(3) { top: 23%; left: 37%;}
.cn-temp-feat li:nth-child(4) { top: 49%; left: 37%;}
.cn-temp-feat li:nth-child(5) { top: 57%; left: 42%;}
.cn-temp-feat li:nth-child(6) { top: 55.5%; left: 49.3%;}
	section.cn-templates .phone-img img { left: 39.6%;}
	section.cn-contact input[placeholder="Name"], section.cn-contact input[placeholder="Phone"] { margin-right: 19px;}
	.phone { left: 30%;}
	.inside-icons { left: 33%;}
	.cn-4steps { right: 24%;}
}
@media screen and (max-width: 1366px) { 
	.cn-temp-feat li:nth-child(7) { top: 35.5%; left: 51%;}
	.cn-temp-feat li:nth-child(1) { top: 16%; left: 49.5%;}
	.cn-temp-feat li:nth-child(2) { top: 15%; left: 38.5%;}
	.cn-temp-feat li:nth-child(3) { top: 23%; left: 31%;}
	.cn-temp-feat li:nth-child(4) { top: 49%; left: 31%;}
	.cn-temp-feat li:nth-child(5) { top: 57%; left: 38.7%;}
	.cn-temp-feat li:nth-child(6) { top: 55.5%; left: 49.3%;}
	.cn-temp-feat li .desc { position: absolute; }
	.cn-temp-feat li:nth-child(7) .desc { top: 15%; left: 110%;}
	.cn-temp-feat li:nth-child(1) .desc { top: 75%; left: 120%;}
	.cn-temp-feat li:nth-child(2) .desc { top: 78%; left: 191%;}
	.cn-temp-feat li:nth-child(3) .desc { top: 54%; left: 240%;}
	.cn-temp-feat li:nth-child(4) .desc { top: -25%; left: 239%;}
	.cn-temp-feat li:nth-child(5) .desc { top: -49%; left: 189%;}
	.cn-temp-feat li:nth-child(6) .desc { top: -45%; left: 120%;}
	section.cn-templates .phone-img img { left: 35.2%;}
	section.cn-contact input[placeholder="Name"], section.cn-contact input[placeholder="Phone"] { margin-right: 12px;}
	.phone { left: 20%;}
	.inside-icons { left: 25%; }
	.cn-4steps { right: 15%; }
}

@media screen and (max-width: 1280px) { 

	section.cn-templates .phone-img img { left: 34.35%;}
}


@media screen and (max-width: 1024px) {

section.cn-templates .phone-img img { left: 34.35%;}

}
@media screen and (max-width: 1024px) {
    
.cn-slider { min-height: auto;}
.cn-4steps { right: 5%;}
.phone { left: 10%;}
.inside-icons { left: 18%;}
.phone img { padding: 20px 0px 20px 10px;}
section.cn-templates .phone-img img { left: 30.5%;}
section.cn-contact input[placeholder="Name"], section.cn-contact input[placeholder="Phone"] { width: 94%;}
.cn-temp-feat li:nth-child(7) { top: 35.5%; left: 51%;}
.cn-temp-feat li:nth-child(1) { top: 16%; left: 49.5%;}
.cn-temp-feat li:nth-child(2) { top: 15%; left: 35%;}
.cn-temp-feat li:nth-child(3) { top: 23%; left: 25.5%;}
.cn-temp-feat li:nth-child(4) { top: 49%; left: 25.5%;}
.cn-temp-feat li:nth-child(5) { top: 57%; left: 35.2%;}
.cn-temp-feat li:nth-child(6) { top: 55.5%; left: 49.3%;}

}
@media screen and (max-width: 900px) {section.cn-templates .phone-img img { left: 28%;}}
@media screen and (max-width: 980px) {

section.cn-templates .phone-img img { left: 29.55%;}
.cn-temp-feat li:nth-child(7) { top: 35.5%; left: 51%;}
.cn-temp-feat li:nth-child(1) { top: 16%; left: 49.5%;}
.cn-temp-feat li:nth-child(2) { top: 15%; left: 34%;}
.cn-temp-feat li:nth-child(3) { top: 23%; left: 24%;}
.cn-temp-feat li:nth-child(4) { top: 49%; left: 24%;}
.cn-temp-feat li:nth-child(5) { top: 57%; left: 34.7%;}
.cn-temp-feat li:nth-child(6) { top: 55.5%; left: 49.3%;}

}

@media screen and (max-width: 800px) {
 
.cn-features img { float: left; }
.cn-temp-feat li:nth-child(7) { top: 36.5%; left: 38%;}
.cn-temp-feat li:nth-child(1) { top: 16%; left: 35.5%;}
.cn-temp-feat li:nth-child(2) { top: 15%; left: 16.75%;}
.cn-temp-feat li:nth-child(3) { top: 23%; left: 4%;}
.cn-temp-feat li:nth-child(4) { top: 50%; left: 4%;}
.cn-temp-feat li:nth-child(5) { top: 59%; left: 17%;}
.cn-temp-feat li:nth-child(6) { top: 57.5%; left: 36%;}
section.cn-templates .phone-img img { left: 25%;}
.cn-img-steps { display: none; }
section.cn-service div { padding: 15px; min-height: 330px;}

}

@media screen and (max-width: 768px) {

section.cn-templates .phone-img img { left: 24.1%;}
section.cn-features img { margin-left: -10px;}

}

@media screen and (max-width: 640px) {

section.cn-templates .phone-img img { left: 18.75%;}

}
@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 320px) {
   
}