body {
    background: #3f3f3f;
    color: white;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
}

p {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #2abfea;
}

.clearfix {
    clear: both;
}

/*Header*/
.cn-header {
    z-index: 9999;
    margin-bottom: 0px;
}

.cn-header img {
    height: 35px;
}

.navbar.navbar-default {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border: 0px;
    font-size: 14px;
    text-transform: uppercase;
    min-height: 75px;
    margin-bottom: 0px;
}

.navbar.navbar-default li a {
    padding: 15px;
    color: white;
}

.navbar.navbar-default li a:hover,
.navbar.navbar-default li a:active,
.navbar.navbar-default li a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    color: #000;
    border-bottom: 1px solid white;
}

.navbar-brand {
    padding-left: 40px;
}

@media (max-width: 1920px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: right !important;
        margin-top: 7.5px;
        width: 20%;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

.navbar-toggle {
    padding: 20px;
    margin-right: 25px;
    border: 0px solid transparent;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    border-radius: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover {
    background-color: #626060;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-brand {
    padding: 20px;
}

/*Slider*/
#wrapper {
    z-index: -1;
    top: 0;
    position: absolute;
}

.carousel-caption img {
    height: 75px;
    margin: 15px auto;
    transition: 0.25s;
}

.carousel-caption img:hover {
    transform: scale(1.2);
}

/*Service*/
section.cn-service div {
    padding: 30px;
    min-height: 330px;
}

section.cn-service img {
    height: 75px;
    margin: 40px;
    transition: 0.25s;
}

section.cn-service .col-service1:hover img {
    transform: scale(1.2);
}

section.cn-service .col-service2:hover img {
    transform: scale(1.2);
}

section.cn-service .col-service3:hover img {
    transform: scale(1.2);
}

section.cn-service h4 {
    font-weight: bolder;
}

section.cn-service .col-service1 {
    background: #8d93b4;
}

section.cn-service .col-service2 {
    background: #8bcce1;
}

section.cn-service .col-service3 {
    background: #a864a8;
}

/*Steps*/
section.cn-steps {
    padding: 100px;
    min-height: 700px;
}

section.cn-steps {
    position: relative;
    display: block;
    color: white;
}

section.cn-steps::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url("/images/back1.png");
    background-position-x: -15%;
    background-size: 110%;
    text-align: center;
    background-attachment: fixed;
}

.phone {
    position: absolute;
    left: 20%;
}

.phone img {
    height: 500px;
}

.inside-icons {
    position: absolute;
    left: 25%;
    margin-top: 80px;
}

.inside-icons ul {
    /*list-style-image: url("/images/bullet.png");*/
    font-size: 40px;
    /*list-style-position: outside;*/
}

.inside-icons img {
    height: 50px;
    margin: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.inside-icons img:hover {
    transform: scale(1.2);
}

.cn-4steps {
    text-align: left;
    position: absolute;
    right: 15%;
    max-width: 800px;
}

.cn-4steps ul {
    list-style: none;
}

.cn-4steps li {
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.cn-4steps li img {
    padding: 10px;
    height: 50px;
}

.cn-4steps li:hover {
    transform: scale(1.1);
}

/*Stepsline*/
div.itemss {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
}

#stepsline {
    position: relative;
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    padding: 1rem;
}

#stepsline div:after {
    content: '';
    width: 2px;
    position: absolute;
    top: -5rem;
    bottom: 0rem;
    left: 60px;
    z-index: 1;
    background: #C5C5C5;
}

#stepsline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

@media (min-width: 62em) {
    #stepsline h3 {
        font-size: 1.1em;
    }
}

#stepsline section.year {
    position: relative;
}

#stepsline section.year:first-child section {
    margin-top: -1.3em;
    padding-bottom: 1px;
}

#stepsline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.2em;
}

#stepsline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 89px;
    color: #C5C5C5;
}

@media (min-width: 62em) {
    #stepsline section.year section h4 {
        font-size: 1em;
    }
}

#stepsline section.year section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
    max-width: 55rem;
    font-size: 1em;
}

@media (min-width: 62em) {
    #stepsline section.year section ul {
        font-size: 1.1em;
        padding: 0 0 0 115px;
    }
}

#stepsline section.year section ul:last-child {
    margin-bottom: 0;
}

#stepsline section.year section ul:first-of-type:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 41px;
    top: 3px;
    z-index: 2;
}

#stepsline section.year section ul li:before {
    margin-left: -.5rem;
    padding-right: .3rem;
}

#stepsline section.year section ul li:not(:first-child) {
    margin-top: .4rem;
}

#stepsline section.year section ul li span.price {
    color: mediumturquoise;
    font-weight: 500;
}

/*Features*/
section.cn-features {
    position: relative;
    min-height: 600px;
}

section.cn-features {
    display: block;
    color: white;
}

section.cn-features::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url("/images/back1.png");
    background-position-x: -15%;
    background-size: 110%;
    text-align: center;
    background-attachment: fixed;
}

section.cn-features ul {
    list-style: none;
}

section.cn-features img {
    transition: 0.5s;
}

section.cn-features li img:hover {
    transform: scale(1.2);
}

.desc {
    display: none;
}

.cn-temp-feat li {
    position: absolute;
}

.cn-temp-feat li:nth-child(7) {
    top: 35.5%;
    left: 51%;
}

.cn-temp-feat li:nth-child(1) {
    top: 16%;
    left: 49.5%;
}

.cn-temp-feat li:nth-child(2) {
    top: 15%;
    left: 38.5%;
}

.cn-temp-feat li:nth-child(3) {
    top: 23%;
    left: 31%;
}

.cn-temp-feat li:nth-child(4) {
    top: 49%;
    left: 31%;
}

.cn-temp-feat li:nth-child(5) {
    top: 57%;
    left: 38.7%;
}

.cn-temp-feat li:nth-child(6) {
    top: 55.5%;
    left: 49.3%;
}

.cn-temp-feat li .desc {
    position: absolute;
}

.cn-temp-feat li:nth-child(7) .desc {
    top: 15%;
    left: 110%;
}

.cn-temp-feat li:nth-child(1) .desc {
    top: 75%;
    left: 120%;
}

.cn-temp-feat li:nth-child(2) .desc {
    top: 78%;
    left: 191%;
}

.cn-temp-feat li:nth-child(3) .desc {
    top: 54%;
    left: 240%;
}

.cn-temp-feat li:nth-child(4) .desc {
    top: -25%;
    left: 239%;
}

.cn-temp-feat li:nth-child(5) .desc {
    top: -49%;
    left: 189%;
}

.cn-temp-feat li:nth-child(6) .desc {
    top: -45%;
    left: 120%;
}

.cn-temp-feat li:hover .desc {
    display: block;
    width: 250px;
    text-align: left;
    transition: 0.5s;
}

/*Templates*/
section.cn-templates {
    min-height: 500px;
    position: relative;
}

section.cn-templates {
    position: relative;
    display: block;
    color: white;
    padding: 60px;
}

section.cn-templates::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url('/images/back2.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

section.cn-templates .phone-img img {
    height: 400px;
    position: absolute;
    z-index: 999;
    left: 35.2%;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
    height: 290px;
    margin-top: 56px;
    text-align: center;
    margin: 56px auto;
}

/*Who can sign up for this service*/
section.cn-forwhom {
    min-height: 500px;
}

section.cn-forwhom {
    position: relative;
    display: block;
    color: white;
    padding: 60px;
}

section.cn-forwhom::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url('/images/back3.png');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
    background-attachment: fixed;
}

#workline {
    position: relative;
    display: table;
    height: 100%;
    margin-left: 45%;
    margin-top: 10rem;
    padding: 1rem;
}

#workline div:after {
    content: '';
    width: 2px;
    position: absolute;
    top: -5rem;
    bottom: 0rem;
    left: 60px;
    z-index: 1;
    background: #C5C5C5;
}

#workline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

@media (min-width: 62em) {
    #workline h3 {
        font-size: 1.1em;
    }
}

#workline section.year {
    position: relative;
}

#workline section.year:first-child section {
    margin-top: -1.3em;
}

#workline section.year:nth-child(odd) li {
    position: absolute;
    left: -60%;
}

#workline section.year:nth-child(even) li {
    margin-bottom: -1.25em;
    text-align: right;
}

#workline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.2em;
}

#workline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 89px;
    color: #C5C5C5;
}

@media (min-width: 62em) {
    #workline section.year section h4 {
        font-size: 1em;
    }
}

#workline section.year section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
    max-width: 55rem;
    font-size: 1em;
}

@media (min-width: 62em) {
    #workline section.year section ul {
        font-size: 1.1em;
        padding: 0 0 0 115px;
    }
}

#workline section.year section ul li {
    transition: 0.25s;
    cursor: pointer;
}

#workline section.year section ul li:hover {
    transform: scale(1.1);
}

#workline section.year section ul:last-child {
    margin-bottom: 0;
}

#workline section.year section ul:first-of-type:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #2abfea;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 41px;
    top: 3px;
    z-index: 2;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workline section.year section ul li:before {
    margin-left: -.5rem;
    padding-right: .3rem;
}

#workline section.year section ul li:not(:first-child) {
    margin-top: .4rem;
}

#workline section.year section ul li span.price {
    color: mediumturquoise;
    font-weight: 500;
}

/*Subscribe*/
section.cn-subscribe {
    min-height: 150px;
    background: rgba(0, 0, 0, 0.85);
    padding: 50px;
}

.cn-subscribe {
    position: relative;
    display: block;
    color: white;
    padding: 60px 120px;
}

.cn-subscribe::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url('/images/subs-back.jpg');
    background-size: cover;
    padding-top: 40px;
    text-align: center;
    background-attachment: fixed;
}

section.cn-subscribe .cn-social ul {
    list-style: none;
}

section.cn-subscribe .cn-social li {
    display: inline-block;
    height: 30px;
}

section.cn-subscribe .cn-social li img {
    height: 35px;
    margin-top: 10px;
}

section.cn-subscribe input[type="text"] {
    height: 50px;
    border: 2px solid #a7a5a5;
    background: rgba(255, 255, 255, 0.2);
    width: 43%;
    padding: 10px;
}

section.cn-subscribe input[type="button"] {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    height: 50px;
    margin-left: -3px;
    text-transform: uppercase;
    width: 130px;
}

/*Contact*/
section.cn-contact {
    padding: 60px 60px;
    background: #111111;
    margin-top: -5px;
}

section.cn-contact .column3 {
    text-align: left;
    font-size: 12px;
    padding: 20px;
    font-weight: 300;
}

section.cn-contact .column3 p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 300;
}

section.cn-contact img {
    height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

section.cn-contact input[placeholder="Name"], section.cn-contact input[placeholder="Phone"] {
    width: 45%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 12px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    outline: none;
}

section.cn-contact input::placeholder, section.cn-contact textarea::placeholder {
    color: white;
    font-family: 'Oxygen', sans-serif;
}

section.cn-contact input {
    width: 94%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    outline: none;
}

section.cn-contact textarea {
    width: 94%;
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    color: white;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

section.cn-contact input[type="Submit"] {
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    border: none;
    color: white;
    outline: none;
}

.contact-hdr {
    padding: 20px 0;
    margin-bottom: 10px;
}

/*Copyrights*/
section.cn-copyrights {
    background: black;
    text-align: center;
    padding: 15px;
}