

/* udated css */
#menu a{
	color:white;
}
#menu a:hover{
	color:black;
}
h1 {
      font-size:12;
      font-style: arial;
     }
h3{
	font-size:12;
	font-style:arial;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   font-size: 12;
   position: absolute; 
   bottom: 0px; 
   left: 0; 
   width: 100%;
   color:white; 
}
h4 {
	font-size: 10;
	color:black;
}
a{
	color:white;
}
p{
	font-size: 12;
	color:#888888;

}
.cover{
	width:100%;
	height:100%;
}
img{
	height:auto;
	width:100%;
}
.poster{
	margin-top:5px;
	background-color: #37474F;
	width:relative;
	height:100%;
	box-shadow: 0 0 3px 5px black;
	/*border-top-left-radius:50px;
	border-top-right-radius:50px;*/
}
.newswrap{
	text-align: justify;
	padding-top:1.5%;
	width:100%;
	height:auto;
	margin-top:10px;
	/*background-color: #ECEFF1;*/
}
footer{
	background-color:#263238;
	color: white;
	text-align:center;
	margin-top:5px;
	padding-top:20px;
	padding-bottom:20px;
}
.news{
	height:50%;
	width: 50%;
	box-shadow: 0 0 2px black;


}
.well{
	box-shadow: 0 0 4px 2px black;
	
}
.well.header{
	width:100%;
	height:auto;
	background-color: #0277BD;
	margin-top:0px;
	padding:1px;
}
.collapse,.navbar-collapse{
	z-index:1;
}
.container{
	margin-top:80px;
	padding-top:10px;
}
.newsbox{
	width:100%;
	box-shadow: 0 0 2px black;
	padding:2px;
	margin-top:5px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
}
/* end of updated css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

small{
	font-size: 10px;
	color:red;
}