
body {
  margin: 0;
  text-align: center;
}

.outer { position: relative; }

.close {
  position: absolute;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background: #d30043;
  font-size: 15px !important;
  left: 5px;
  top: 5px;
}

h1 {
  text-align: center;
  font: 400 40px 'open sans', sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
}

button {
  border: none;
  outline: none;
  background: #eee;
  color: #222;
  padding: 10px 20px;
  font: 300 20px 'open sans', sans-serif;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

button:hover {
  background: #d30043;
  color: #fff;
}

.main {
  padding: 20px 0;
  width: 100%;
  z-index: 2;
  position: relative;
  background: #16395a;
  transition: margin-left .2s ease-in;
  -moz-transition: margin-left .2s ease-in;
  -webkit-transition: margin-left .2s ease-in;
  height: 600px;
}

.panel {
  background-color:#16395a;
  width: 300px;
  color: #fff;
  font: 300 50px 'open sans', sans-serif;
}

/* Overlay */

.overlayp {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -300px;
  transition: margin-left .2s ease-in;
  -moz-transition: margin-left .2s ease-in;
  -webkit-transition: margin-left .2s ease-in;
}

.overlayp.active {
  margin-left: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Push */

.pushp {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  margin-left: -300px;
  transition: margin-left .2s ease-in;
  -moz-transition: margin-left .2s ease-in;
  -webkit-transition: margin-left .2s ease-in;
}

.pushp.active { margin-left: 0; }

.main.pactive { margin-left: 300px; }

/* Reveal */

.main.ractive {
  margin-left: 300px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.revealp {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.side-menu{
  background-color: #fff;
    height: 120px;

}

nav-table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 21px;
    text-align: left;
    border-bottom: 0px solid #ccc;
    font-size:12px;
    color: #ccc;
}

tr:hover{
  background-color:#d3d3d3;
  opacity:0.2px;
}

td{
  padding:16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0d253c;
}

li {
    float: left;
}

li a {
    font-size: 13px;
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #11b4e1;
}

h3{
    font-size: 23px;
    color: #37acd2;
    padding-top: 12px;
}
.fm-image img{
          height: auto;
    width: 100%;
    padding-top: 13px;
    padding-right: 53px;
    padding-left: 22px;
    padding-bottom: 15px;
}

h4{
      color: #ccc;
}

h5{
  color:#37acd2;
}

/*
*/

.language ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #204071;
    background-color: #005b95;
    width: 196px;
    margin-left: 70px;
    
}
.language li {
    float: left;
width:50%;
}

.language li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 22px;
    text-decoration: none;
}

.language li a:hover:not(.active) {
    background-color: #ddd;
}

.language li a.active {
    color: white;
    background-color: #204071;
}

.npjp {
    padding: 20px 0;
    width: 100%;
    z-index: 2;
    position: relative;
    background: #005b95;
    transition: margin-left .2s ease-in;
    -moz-transition: margin-left .2s ease-in;
    -webkit-transition: margin-left .2s ease-in;
    height: 135px;
}

.nav-politics ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    background-color: #005b95;
}

.nav-politics li {
    float: left;
}

.nav-politics li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-politics li a:hover:not(.active) {
    background-color: #005b95;
}

.nav-politics li a.active {
    color: white;
    background-color: #005b95;
}

.box-model{
  width: 335px;
    /* margin-top: 10px; */
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid gray;
    /* margin: 0; */
    background-color: white;
    margin-left: 10px;
}

.media-object {
    display: block;
    height: 78px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
    width: 97px;
    height: 21px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  color:red;
  font-size:17px;
}

.slider.round:before {
  border-radius: 50%;
}

.on-off-switch{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    user-select:none;
    float: right;
}

.on-off-switch-track{
    position:absolute;
    border : solid #888;
    z-index:1;
    background-color: #fff;
    overflow:hidden;
}

/* semi transparent white overlay */
.on-off-switch-track-white{
    background-color:#FFF;
    position:absolute;
    opacity:0.2;
    z-index:30;
}
/* Track for "on" state */
.on-off-switch-track-on{
    background-color:#ddd;
    border-color:#008844;
    position:absolute;
    z-index:10;
    overflow:hidden;
}
/* Track for "off" state */
.on-off-switch-track-off{
    position:absolute;
    border-color:#CCC;
    z-index:1;
}

.on-off-switch-thumb{
    position:absolute;
    z-index:2;
    overflow:hidden;
}

.on-off-switch-thumb-shadow{
    opacity:0.5;
    border:1px solid #000;
    position:absolute;
}

.track-on-gradient, .track-off-gradient{

    background: -webkit-linear-gradient(180deg,rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* Standard syntax */
    position:absolute;
    width:100%;
    height:5px;
}


.on-off-switch-thumb-color{
    background: -webkit-linear-gradient(45deg, #BBB, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #BBB, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #BBB, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #BBB, #FFF); /* Standard syntax */
    background-color:#F0F0F0;
    position:absolute;
}

.on-off-switch-thumb-off{
    border-color:#AAA;
    position:absolute;
}
.on-off-switch-thumb-on{
    border-color:#008855;
    z-index:10;
}
.on-off-switch-text{
    width:100%;
    position:absolute;
    font-family:arial;
    user-select:none;
    font-size:10px;
}

.on-off-switch-text-on{
    color:#d13334;
    text-align:left;
}
.on-off-switch-text-off{
    color:#000;
    text-align:right;
}
/* Mouse over thumb effect */
.on-off-switch-thumb-over{
    background-color:#F5F5F5;
    background: -webkit-linear-gradient(45deg, #CCC, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #CCC, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #CCC, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #CCC, #FFF); /* Standard syntax */

}

body {
            font-family: 'Open Sans',arial;
            background-color:#fafafa;
        }
        .container { margin:150px auto 50px auto; width:70%}

/*
NEWS HOME*/

.news-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:500px;
   
    background-color: #d13334;
}

.news-home li {
    float: left;
}

.news-home li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:11px;
}

.news-home li a:hover:not(.active) {
    background-color: #005b95;
}

.news-home li a.active {
    color: white;
    background-color: #d13334;
}

.news-nrn {
    padding: 20px 0;
    width: 100%;
    z-index: 2;
    position: relative;
    background: #d13334;
    transition: margin-left .2s ease-in;
    -moz-transition: margin-left .2s ease-in;
    -webkit-transition: margin-left .2s ease-in;
    height: 135px;
}

