body{
	background-color: #f8f8f8;
}
.content{

    /*background: white;*/
    margin: 0 !important;
    height:100px;

}

.container{

	background-color:#f8f8f8;
}
.logo {
	margin: 10px;
	padding: 10px;
}
.logo img{
	width:65%;
}
.content .col-xs-4{
	height: 100px;
	display: table;

}
.logo{
	display: table-cell;
	vertical-align: middle;
}
.content .col-xs-4{
	border: 0.5px solid rgba(234, 234, 234, 1.27);
	background: white;
}
.tooltip-news {
    margin-left: 0;
    background: #ec1d25;
    /* top: 0; */
    color: #fff;
    display: block;
    /* left: -25px; */
    /* padding-top: 66px; */
    opacity: 1;
    padding: 1px;
    pointer-events: none;
    /* position: absolute; */
    width: 53%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    height: 19px;
}
.tooltip-news:after {
    border-left: solid transparent 2px;
    border-right: solid transparent 9px;
    border-top: solid #ec1d25 8px;
    bottom: -5px;
    content: " ";
    height: -81px;
    left: 22%;
    margin-left: -13px;
    position: absolute;
    width: -14px;
}

h6, .h6 {
    /* height: 27px; */
   font-size: 9px; 
    /* position: absolute; */
    padding: 5px;
    margin: 0 auto;
}



.col-xs-6 {
    width: 50%;
    padding-top: 20px;
}

.news{
	    font-style: italic;
    padding: 2px;
    color: #080808;
    
    font-weight: bold;
    font-size:10px;
}

p {
    margin: 0 0 10px;
    padding-top: 15px;
}

.one{

	font-style: italic;
    color: red;
    font-size:10px;

}
.four{
	font-size: 10px;
	font-style:	italic;

}

.column{
    padding-left: 80px;
    padding-top: 15px;
}

.p{
	 border-right: 6px solid red;
}

.container page{
	border-right: 1px solid black;
	
}

/*vision page*/

/* Reset responsive Bootstrap elements */
#demo-wrapper {
  display:block;border: solid 5px #ed2233;width: 320px;height: 200px;margin: 0 auto;
}
#demo-canvas {
  width: 100%;background: #62a7dd;height: 100%;position: relative;color: #fff;font-size: 25px;text-align: center;line-height: 175px;-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-tansform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-o-tansform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-transition: .3s ease all;-moz-transition: .3s ease all;-ms-transition: .3s ease all;-o-transition: .3s ease all;transition: .3s ease all;
}

#demo-menu {
  background: #012843;width: 25%;height: 100%;display: block;position: absolute;left: -25%;top: 0;color: #fff;text-align: center;line-height: 175px;font-size: 14px;
}

#demo-wrapper.show-nav #demo-canvas {
-webkit-transform: translateX(25%) !important;
-moz-transform: translateX(25%) !important;
-o-tansform: translateX(25%) !important;
-ms-transform: translateX(25%) !important;
transform: translateX(25%) !important;
-webkit-transform: translate3d(25%, 0, 0) !important;
-moz-transform: translate3d(25%, 0, 0) !important;
-o-tansform: translate3d(25%, 0, 0) !important;
-ms-transform: translate3d(25%, 0, 0) !important;
transform: translate3d(25%, 0, 0) !important;
}
#demo-wrapper #demo-canvas p { line-height: 175px; font-size: 25px; }
#fake-demo-wrapper {
display: block;
width: 320px;
height: 200px;
margin: 0 auto;
margin-top: -200px;
position: relative;
z-index: 999;
}

.overflow-on { overflow: hidden; }

#demo-wrapper, #fake-demo-wrapper { cursor: pointer; }

#show-hide {
margin: 30px auto;
text-align: center;
display: block;
width: 240px;
}