html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
  background-color:#ddd;
  font-size:11px;
  font-weight:600;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}


.navbar-default {
    background-color: #005b95;
    border-color: #005b95;
}

.news-home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:500px;
   
    background-color: #005b95;
}

.news-home li {
    float: left;
}

.news-home li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:11px;
}

.news-home li a:hover:not(.active) {
    background-color: #005b95;
}

.news-home li a.active {
    color: white;
    background-color: #005b95;
}

.news-nrn {
    padding: 20px 0;
    width: 100%;
    z-index: 2;
    position: relative;
    background: #d13334;
    transition: margin-left .2s ease-in;
    -moz-transition: margin-left .2s ease-in;
    -webkit-transition: margin-left .2s ease-in;
    height: 135px;
}

.slider img{
  height:auto;
  width:100%;
  padding-top:24px;
}

.button {
    background-color: #005b95;
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 2px;
}

.button1 {font-size: 9px;
border: 0.01em solid #fff;}
.slide-slick{
    position: relative;
    bottom: 0px;
 }

 .title{
      position: absolute;
    bottom: 0;
    color: white;
    padding: 15px;
    font-size: 11px;

 }

 p {
    font-size: 13px;
    margin: 0 0 8px;
    width: 324px;
}

.div1 {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    background-color: white;
    margin: 7px;
}

.div2 {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    background-color: white;
    margin: 0px;
}

.div3 {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    background-color: white;
    margin: 5px;
}

.media-object{
  width: 89px;
    padding: 6px;
}
.h4, h4 {
    font-size: 11px;
    padding-top: 5px;
    font-weight: 
}

.media p {
    font-size: 10px;
    margin: 0 0 0px;
    width: 324px;
    color: gray;
    width: 247px;
}

.button_1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin: 4px 2px;
    cursor: pointer;
}


.button3 {
    background-color: white;
    color: #005b95;
    border: 1px solid #005b95;
    margin-left: 0px;
}

.time{
  font-size: 9px;
 }

 hr{
  margin-top:0px;
  margin-bottom: 0px;
 }

.toggle.btn{
      width: 86px !important;
    height: 23px !important;
    min-width: 80px !important;
    min-height: 15px !important;
    border-radius: 50px;

}

.btn {
    display: inline-block;
    padding: 3px 0px;
    margin-bottom: 0;
    font-size: 11px;
    }

    
.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 22px;
    border-width: 0 1px;
    left: -11px;
    border-radius: 50px;
}

.btn-default {
    color: #333;
    background-color: #eee;
    border-color: #d13334;
}

.btn-primary {
    color: #d13334;
    background-color: #eee;
    border-color: #d13334;
}

.heading {
    font-size: 18px;
    margin: 54px 11px 11px 18px;
    width: 314px;
}


.language ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #005b95;
    background-color: #dddddd;
    width: 196px;
    margin-left: 70px;
    
}
.language li {
    float: left;
width:50%;
}

.language li a {
    display: block;
    color: #005b95;
    text-align: center;
    padding: 5px 22px;
    text-decoration: none;
}

.language li a:hover:not(.active) {
    background-color: #ddd;
}

.language li a.active {
    color: white;
    background-color: #005b95;
}


.side-menu{
  background-color: #fff;
    height: 120px;

}

.nav-table {
    border-collapse: collapse;
    width: 100%;
        margin-top: 100px;
    height: 660px;
    
}

th, td {
    padding: 21px;
    text-align: left;
    border-bottom: 0px solid #ccc;
    font-size:11px;
    color: #ccc;
}

tr:hover{
  background-color:#d3d3d3;
  opacity:0.2px;
}

td{
  padding:16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0d253c;
}

li {
    float: left;
}

li a {
    font-size: 12px;
    display: block;
    color: #;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #11b4e1;
}

.header-content{
    background-color:#16436B;
}

.navmenu-default{
    background-color:#fff;
}

a#fails_to_fade {
  -webkit-transition: text-decoration 500ms ease;
  -moz-transition: text-decoration 500ms ease;
  -ms-transition: text-decoration 500ms ease;
  -o-transition: text-decoration 500ms ease;
  transition: text-decoration 500ms ease; 
}
a#fails_to_fade:hover {
  text-decoration: underline;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #18415a;
}
