@import url('https://fonts.googleapis.com/css?family=Anton|Francois+One|Maven+Pro|Pontano+Sans');
@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?99355648');
      src: url('./font/fontello.eot?99355648#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?99355648') format('woff'),
           url('../font/fontello.ttf?99355648') format('truetype'),
           url('./font/fontello.svg?99355648#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

body{
  margin:0;
  overflow:hidden;
}
/* changes color for 

1. Header Background
2. Inner Tab Background
3. Text Headline for list views
4. Text Headline for Single News Headline 
*/
.primary_bg_color{
  background: rgb(0,75,133) !important;
}
.primary_text_color{
  color: rgb(0,75,133) !important;
}
.primary_tab_border{
  border-bottom-color:rgb(0,75,133) !important;
}


.secondary_bg_color{
  background:rgb(100,175,233) !important;
}
.secondary_text_color{
  color:rgb(100,175,233)  !important;
}
.secondary_tab_border{
  border-bottom-color:rgb(100,175,233) !important;
}


.tertiary_bg_color{
  background: #fff !important;
}
.tertiary_text_color{
  color: #fff !important;
}


.selected_bg_color{
  background: #004b85 !important;
}
.selected_text_color{
  color: #004b85 !important;
}
  
.primary_bg_text_color{
  color:#dcdcdc;
}


.hide{
  display: none;
}
.show{
  display: block !important;
}
.text-center {
        text-align: center;
    }
    
    .mg-0 {
        margin: 0;
    }
    .top_head {
        position: fixed;
        top: 0px;
        z-index: 99;
    }
    
    header {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    
    header h1 {
        /*font-family: 'Anton', sans-serif;*/
        font-family: 'Francois One', sans-serif;
        color: white;
        font-size: 30px;
        margin: 0;
        text-align: center;
        margin-right: 20%;
    }
    
    .width-100 {
        width: 100%;
        height: auto;
    }

.clearfix {
        clear: both;
    }
    .text-center{
      text-align:center;
    }
    
    .logo {
            width: 50px;
    height: auto;
    position: relative;
    top: 5px;
    margin-right: 15px;
    }
    
    .fblike {
        width: 55PX;
    margin-left: 50px;
    position: absolute;
    top: 30px;
    right: 9px;
}
.wrapper-main{
  margin-top: 63px;
}
    
.epg{
    margin-left: -40px;
    list-style: none;
    height: 39px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    border-bottom:0.5px solid white;
}
.epg li{
  display: inline-block;
}
 .epg h3 {
        margin: 0;
        padding: 12px 13px;
        font-family: 'Pontano Sans', sans-serif;
        font-size: 15px;
        color: #d2d2d2;
        text-decoration: none;
        font-size: 10px;
    }
    
    .epg h3.active {
        color: #11bdea;
        border-bottom: 2px solid #9e9e9e;
    }

.epg_list{
  list-style: none;
  margin-top:0;
  margin-left: -40px;
}
.epg_list li{
  padding:11px 20px;
  font-family: 'Pontano Sans';
  font-size: 12px;
  color:white;
}
.epg_list li.active{
  font-size: 14px;
  margin:0 8px;
}
.epg_list li .show_name{
  margin-left:25px;
  color:#eaeaea;
}
  .vod_subcategory{
        margin-left:-40px;
        list-style: none;
        height: 39px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0;
    padding:0;
    }
        .vod_subcategory li{
            display: inline-block;
        }
        .vod_subcategory h3 {
        margin: 0;
        padding: 12px 13px;
        font-family: 'Pontano Sans', sans-serif;
        font-size: 15px;
        color: #d2d2d2;
        text-decoration: none;
        font-size: 10px;
    }
    
    .vod_subcategory h3.active {
        border-bottom: 2px solid #9e9e9e;
    }

    .vod_single_listings ul ,
    .vod_listings ul {
        list-style: none;
        margin-left: -40px;
        margin-top: 0;
    }
    
    .vod_single_listings ul li ,
    .vod_listings ul li {
        padding: 5px;
        padding-bottom: 0;
        font-family: 'Pontano Sans';
        padding-top:5px;
    }
    
    .vod_single_listings ul li .thumbnail ,
    .vod_listings ul li .thumbnail {
        width: 33vw;
        float: left;
    }
    
    .vod_single_listings ul li .info ,
    .vod_listings ul li .info {
        width: 60vw;
        float: right;
    }
    
    .vod_single_listings ul li .info h5 ,
    .vod_listings ul li .info h5 {
        margin-top: 0px;
        font-size: 10px;
        padding: 15px 5px;
        padding-bottom: 2px;
        margin-bottom: 0;
        text-align: justify;
    }
    
    .vod_single_listings ul li .info span ,
    .vod_listings ul li .info span {
        font-size: 8px;
        margin-left: 5px;
    }


    #radio {
        background: #fbfbfb;
        height: 465px;
    }
    
    .radio_logo {
        width: 50%;
        margin-top: 50px;
        display: inline !important;
        margin-bottom:25px;
    }
    
    #radio h3 {
        font-size: 10px;
        font-family: 'Pontano Sans';
        color: #8a8a8a;
    }
    
    .live {
        position: absolute;
        right: 10px;
        font-family: 'Pontano Sans';
        color: #737373;
        font-size: 14px;
    }
    
    .red_dot {
        height: 15px;
        width: 15px;
        background: #cc2828;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        top: 4px;
    }
    .play_button img{
      display: inline !important;
      width: 40px;
    }

 #news ul{
      /*margin-left:-40px;*/
      list-style: none;
          position: relative;
    /*top: 53px;*/
    z-index: 1;
    }
    #news .news-lisitng{
      margin-left:-40px;
    }
    #news .box{
          margin: 10px;
    border: 1px solid #e4e4e4;
    padding: 8px;
    box-shadow: 0 0px 3px 1px #e4e4e4;
    }
    #news .box h5{
      margin:10px 0;
      font-size: 16px;
    }
    #news .box span{
      font-size:  10px;
      color:red;
      font-family: 'Pontano Sans'
    }
    #news .box img{
      margin-top:5px;
    }




    #gallery ul {
        margin-top: 0px;
        margin-left: -35px;
        list-style: none;
    }
    
    #gallery ul li {
        display: inline;
    }
    
    #gallery ul li img {
        width: 31.9%;
        display: inline-block;
    }
    .about_us{
      font-family: 'Pontano Sans'
    }
    .about_us p{
      font-size: 11px;
      padding:0 5px;
    }
    .about_us img{
      display: inline-block !important;
      width:62%;
    }
    .copyright{
      font-size: 11px;
      padding:3px;
    }
    .copyright span{
      color:white;
    }

    .link_about_color{
      text-decoration: underline;
    }



.news_popup{
  position: absolute;
  top: 0;
  width: 100vw;
  height:100vh;
  background: white;

}
.news_box{
      margin: 5px;
    border: 1px solid #eaeaea;
    padding: 5px;
    font-size: 11px;
    border-radius:5px;
    box-shadow: 0 0px 3px 1px #e4e4e4;
    margin-top:25px;
}
.news_box h5{
  font-size: 12px;
  margin:8px 0;
}
.news_popup i.demo-icon{
      position: absolute;
    right: 20px;
    padding:12px 16px 12px 8px;
    border-radius: 50%;
    font-size: 21px;
    top: 155px;
}
.single_vod_title{
  margin:0;
    margin: 0;
    padding: 5px;
    margin-top: -5px;
    font-family: 'Pontano Sans'
}
.vod_popup{
  position: absolute;
  top: 0;
}

.gallery_popup{
  background: black;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
}
.gallery_popup h4{
  color:white;
  font-family: 'Pontano Sans';
  font-size: 12px;
    padding: 10px 8px;
    margin: 0;
}
.gallery_popup img{
  display: inline-block !important;
  margin-top: 150px;
}
.demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-share:before { content: '\e800'; } /* '' */
.slick-initialized .swipe-tab-content {
  position: relative;
  min-height: 465px;
}
@media screen and (min-width: 767px) {
  .slick-initialized .swipe-tab-content {
    min-height: 500px;
  }
}
.slick-initialized .swipe-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height:27px;
  background: none;
  border: 0;
  color: #757575;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top:5px;
  font-family: 'Pontano Sans';
  font-size:10px;
  padding-top:5px;
  font-weight: bold;
;}
/*.slick-initialized .swipe-tab:hover {
  color: #000;
}*/
.slick-initialized .swipe-tab.active-tab {
  border-bottom-color: #ff4081;
  color: #000;
  font-weight: bold;
}

.main-container {
  /*padding: 25px;*/
  background: #fff;
}
