*{ 
	box-sizing:border-box;
}
body{
	padding:0 2px;
	background-color: #303030;
}

/*------ slide side menu part-------------*/
.side-menu{
	width:50%;
	height:100%;
	background-color:black;
	padding:10 20px;
	color:white;
	position: absolute;
	top:0;
	left:0%;
	transition:left 0.2s linear;
	text-align: center;
	z-index:10;
	border-right:2px solid grey;  

}
.visible{
	left:0;
	transition:left 0.2s linear;
}
.banner{
	height:100px;
	width:200px;
	margin:0 auto;
}
img{
	width:100%;
	height:100%;
}
.menu-list{
	height:150px;
	width:150px;
	margin:15px auto;
}
.menu-list-img{
	height:120px;
	width:150px;
	
}
.menu-list-name{
	height:30px;
	width:150px;
	margin:10px 0 0 0;
}

/*-----main page part-------*/

.body-wrap{
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
	left:0;
	bottom:0;
	transition:left 0.2s linear;
	z-index:9;
}
.effect{
	width:50%;
	left:50%;
	transition:left 0.2s linear;
}
.menu-button{
	width:100%;
	vertical-align: middle;
	cursor: pointer;
	padding:10px;
	background-color: transparent;
	color: white;
}
ul{
	list-style-type: none;
	display: inline;
}
li{
	float: left;
	padding:5px 5%;
}
a,a:hover{
	color:white;
	text-decoration: none;
}
.active{
	border-bottom: 2px solid blue;
	padding-bottom:10px;
}
.video-frame{
	width:100%;
	max-height:300px;
	background-color:black;
	margin-top:-39px;	
}
.video-frame>img{
	width:100%;
	max-height:300px;
}
.banner-part{
	height:80px;
	width:100%;
	background-color:#9F0A10;
	margin-top:-39px;
	text-align: center;
	padding-top:20px;
}
.banner-part>img{
	height:50px;
	width:100px;
}
.menu{
	float: left;
	width:100%;
	height:30px;
	background-color:#9F0A10;;
}
.news-container{
	width:100%;
	float: left;
	background-color: green;
	border:1px solid white;
	display: inline-block;
}
.well{
	border-radius: 0;
	margin:5px 0;
	background-color:#CFCFCF;
	padding:0;
}

.news-img{
	height:300px;
	width:100%;
	background-color: grey;
}
.news-contain{
	height:400px;
	width:90%;
	border-radius:10px;
	background-color: white;
	margin:-30px auto 0 auto;	
	box-shadow:0 0 5px white;
	padding:10px 20px;	
}
.col-xs-6{
	padding:5px;
	margin:0;
	box-sizing:border-box;
	text-align: center;
}
.col-xs-6>img{
	max-height:100px;
	max-width: 80%;
}
footer{
	background-color: black;
	height:40px;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	border:1px solid white;
}