*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	background-color:#9F0A10;
	overflow-x:hidden;
}
.side-menu{
	width:60%;
	height:100%;
	background-color: #9F0A10;
	position:fixed;
	overflow: auto;
}
.visible{
	margin-left:60%;
}
.container-fluid{
	z-index:10;
	position: absolute;
	left:0px;
	padding:0px;
	box-shadow: 0 2px 5px 3px black;
}
ul{
	list-style-type: none;
	margin-left:-40px;

}
li{
	float:left;
	width:25%;
	text-align: center;
	/*border:1px solid orange;*/
}
a{
	color:white;
	cursor: pointer;
}
.active{
	border-bottom: 2px solid blue;
}

.row{
	margin:0;
	padding:0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	margin:0;
	padding:0;
}
.menu{
	width:100%;
	height:40px;
	line-height:38px;
	background-color: #9F0A10;
	float:left;
}
.news-container{
	width:100%;
	height:auto;
	float:left;
	text-align: justify;
	background-color: #EFEFF4;
}
.news-preview{
	width: 148px;
	height: 153px;
	margin: 5px 6px 0 6px;
	float: left;
	border: 1px solid #ABABAB;
}
.news-preview-img{
	width:100%;
	height:75%;
}
img{
	width:100%;
	height:100%;
}
.news-preview-heading{
	width:100%;
	height:25%;
	padding:0 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: justify;
	background-color: white;
}
.well{
	padding: 10px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/*-----new menu part-------*/
.new-menu{
	width:100%;
	height:40px;
	margin-bottom:2px;
	line-height:40px;
	background-color: #9F0A10;
	float:left;
}
.new-menu>ul>li{
	width:50%;
}

/*------ news detail--------*/

.news-img{
	height:300px;
	width:100%;
	background-color: grey; /*removed*/
}
.news-contain{
	min-height:209px;
	max-height:395px;
	width:90%;
	border-radius:10px;
	background-color: white;
	overflow: auto;
	margin:	auto;	
	box-shadow:0 0 3px 2px black;
	position:relative;
	bottom:30px;
	padding:1px 20px;
}



