* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: transparent;
}

.primary_bg_color {
    background: rgb(191, 0, 34) !important;
}

.primary_text_color {
    color: rgb(191, 0, 34) !important;
}

.primary_tab_border {
    border-bottom-color: rgb(191, 0, 34) !important;
}

.secondary_bg_color {
    background: rgb(255, 255, 255) !important;
}

.secondary_text_color {
    color: rgb(255, 255, 255) !important;
}

.secondary_tab_border {
    border-bottom-color: rgb(255, 255, 255) !important;
}


/* sidebar bg color*/



.tertiary_text_color {
    color: rgb(42, 42, 42) !important;
}

.selected_bg_color {
    background: #004b85 !important;
}

.selected_text_color {
    color: #004b85 !important;
}

.primary_bg_text_color {
    color: #dcdcdc;
}

.hide {
    display: none;
}

.clearfix {
    clear: both;
}

.width-100 {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.sidebar_logo {
    width: 80%
}

.fb-like {
    position: absolute;
}

.side-bar li img {
    width: 35px;
}

.side-bar li span {
    position: relative;
    /*top: -13px;*/
    left: 10px;
}

.header {
    margin: 0;
    height: 52px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header img {
    width: 105px;
}

.hamburger-menu {
    position: fixed;
    left: 0px;
    z-index: 3;
}

.fb-like {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 2;
}

.dynamic_contetnts {
    margin-top: 52px;
}

.channels {
    background: #ced2ce;
    min-height: 506px;
}

.box_news {
    background: white;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 1px;
    display: table;
    width: 97vw;
    box-shadow: -1px 2px 8px -1px rgba(0, 0, 0, 0.27);
    margin-bottom: 10px;
}

.box_news h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.news_list {
    display: inline-block;
    float: left;
    margin-left: 6px;
    position: relative;
}

.news_list img {
    width: 140px;
    height: auto;
}

.news_list span.title {
    font-size: 11px;
    color: white;
}

.news_list span.date {
    font-size: 11px;
}

.news_list .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.69);
    width: 100%;
    bottom: 3px;
}

.vod {
    min-height: 516px;
    background: white
}

.vod_subcategory {
    position: fixed;
    top: 52px;
    background: #dedede;
    margin-left: -40px;
    list-style: none;
    height: 39px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.vod_subcategory li {
    display: inline-block;
}

.vod_subcategory h3 {
    margin: 0;
    padding: 13px 10px;
    font-size: 15px;
    color: #8a8a8a;
    text-decoration: none;
    font-size: 10px;
}

.vod_subcategory h3.active {
    border-bottom: 2px solid #9e9e9e;
}

.vod_listings {
    list-style: none;
    margin-left: -32px;
    margin-top: 100px;
}

.vod_listings li {
    margin-bottom: 5px;
    cursor: pointer;
}

.vod_listings li .thumbanail {
    width: 120px;
    float: left;
}

.vod_listings li .title_date {
    float: left;
}

.vod_listings li .title_date h5 {
    margin: 0;
    padding: 19px 6px 4px 7px;
    font-size: 12px;
}

.vod_listings li .title_date span {
    color: #bf0022;
    font-size: 12px;
    margin-left: 7px;
}

.vod_fullscreen .vod_listings {
    margin-top: 0px;
}

.vod_fullscreen .title {
    margin: 0;
    margin-top: -4px;
    padding: 6px;
    color: white;
    margin-bottom: 9px;
}

.full_screen {
    position: fixed;
    top: 0;
    z-index: 12;
    /*overflow: hidden;*/
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
}

.wrapper_fullscreen {
    overflow: hidden;
}

#radio {
    background: #fbfbfb;
    height: 514px;
}

.radio_logo {
    width: 90%;
    margin-top: 50px;
    display: inline !important;
    margin-bottom: 25px;
}

#radio h3 {
    font-size: 10px;
    color: #8a8a8a;
}

.live {
    position: absolute;
    right: 10px;
    color: #737373;
    font-size: 14px;
}

.red_dot {
    height: 15px;
    width: 15px;
    background: #cc2828;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 4px;
}

.play_button img {
    display: inline !important;
    width: 40px;
}

.news .wrap {
    display: table;
}

.news .wrap .block {
    display: table-cell;
    vertical-align: middle;
    width: 32%;
    text-align: center;
}

.news .wrap .block img {
    width: 75%;
    margin-top: 25px;
}

.news .wrap .block h5 {
    font-weight: 100;
    font-size: 11px;
    color: #9a9a9a;
}

.wrap-1 {
    display: table;
}

.wrap-1 .block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrap-1 .block img {
    width: 30%;
}

.newslist_subcategory {
    margin-left: -40px;
    list-style: none;
    height: 39px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
}

.newslist_subcategory li {
    display: inline-block;
}

.newslist_subcategory h3 {
    margin: 0;
    padding: 11px 13px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;
    color: #d2d2d2;
    text-decoration: none;
    font-size: 10px;
}

.newslist_subcategory h3.active {
    color: #4e000e;
    border-bottom: 3px solid #9e9e9e;
}

#news ul {
    /*margin-left:-40px;*/
    list-style: none;
    position: relative;
    /*top: 53px;*/
    z-index: 1;
}

.news-lisitng {
    margin-left: -40px;
    margin-top: 45px;
}

.news-lisitng .box {
    margin: 10px;
    border: 1px solid #e4e4e4;
    padding: 8px;
    box-shadow: 0 0px 3px 1px #e4e4e4;
    cursor: pointer;
}

.news-lisitng .box h5 {
    margin: 10px 0;
    font-size: 12px;
}

.news-lisitng .box span {
    font-size: 10px;
    color: red;
}

.news-lisitng .box img {
    margin-top: 5px;
}

.about_us h5 {
    margin-top: 15px;
    background: #dedede;
    padding: 15px;
    margin-bottom: 5px;
}

.about_us p {
    font-size: 11px;
    padding: 0 5px;
}

.about_us img {
    display: inline-block !important;
    width: 62%;
}

.copyright {
    font-size: 11px;
    background: #bf0022;
    padding: 3px;
}

.copyright span {
    color: white;
}

.link_about_color {
    text-decoration: underline;
    /*color: #dcd000 !important;*/
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.navigation {
    background: black;
    position: fixed;
    bottom: 0;
    z-index: 101;
}

.wrap-1 .block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrap-1 .block img {
    width: 30%;
}

.pop_news_box {
    position: fixed;
    top: 0px;
    z-index: 15;
}

.news_popup {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 100;
}

.news_box {
    margin: 5px;
    border: 1px solid #eaeaea;
    padding: 5px;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0 0px 3px 1px #e4e4e4;
    margin-top: 25px;
}

.news_box h5 {
    font-size: 12px;
    margin: 8px 0;
}

.news_popup i.demo-icon {
    position: absolute;
    right: 20px;
    /*background: #ff4081;*/
    padding: 12px 16px 12px 8px;
    border-radius: 50%;
    font-size: 21px;
    top: 155px;
}

.news_back {
    position: absolute;
    top: 0px;
    left: 37px;
    z-index: 99;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: none;
}

.arrow {
    display: inline-block;
    transform: scale(0.9, 1.6);
}
