/*Global CSS*/

*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	
}  
/*----header part----*/
header{
	margin:0;
	width:100%;
	height:100px;
	position:fixed;
	top:0;
	z-index:10;
}
.banner{
	height:60px;
	text-align: center;
	font-size: 2.7em;
	background-color: #014885;
}
.divlogo{
	width:80px;
	height:58px;
	float: left;														
}
.divlogo>img{
	width:100%;
	height:100%;
}
.menu{
	width:inherit;
	height:40px;
	background-color: #F7F8E0; /*remove*/
}
ul{
	height: 40px;
	list-style-type: none;
	padding-left:0;
	padding-right:0;
}
li{
	height:40px;
	line-height: 40px;
	width:24.9%;
	float: left;
	text-transform: uppercase;
	text-align:center;
}
.active{
	border-bottom:2px solid #FFC400;
}
a{	
	text-decoration: none;
	color:#868686;
}

/*----container part----*/
.container-full{
	width:100%;
	height:auto;
	position:fixed;
	top:100px;
	padding-top: 2px;
	text-align: center;
	background-color: #cfcfcf;
}
.divlive{ 
	max-height:400px;
	max-width:100%;
	/*box-shadow: 0 0 5px black;*/
}
.divlive img{
	max-height: 400px;
	width: 100%;
}
.program{
	height:30px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	background-color: #cfcfcf;
}
.divtable{
	width:100%;
	max-height:45vh;
	overflow:auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	margin-top:2px;
	float:left;
	padding:10px 5px;
	background-color: white; /*remove*/;
	margin-bottom:50px;
}
table{
	width:100%;
	margin:0 0 20px 0;
}
tr{
	height:40px;
	border:1px solid #9E9E9E;
}
td{
	height: 20px;
}
tr>td:first-child{
	text-align: left;
	color:black;
	padding-left:20px;
}
tr>td:last-child{
	text-align: right;
	color:#019fe8;
	padding-right:20px;
}
tr:nth-child(3){
	background-color: blue;
}
tr:nth-child(3)>td:first-child,
tr:nth-child(3)>td:last-child{
	color:white;
}

/*----CSS used for Latest.html---*/
.container{
	padding:0 5px;
	height:500px;
	overflow:auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.row{
	margin:0;
}
.news-wrap{
	width:100%;
	height:200px;
	background-color: black;
}
.col-xs-1,.col-xs-2,.col-xs-3,
.col-xs-4,.col-xs-5,.col-xs-6,
.col-xs-7,.col-xs-8,.col-xs-9,
.col-xs-10,.col-xs-11,.col-xs-12{
	padding:2px;
	margin:0;
	text-align: left;
}
.img-adjust{
	min-width:100%;
	height: 100px;

}
hr{
	margin:5px 0;
	border-top:1px solid #9E9E9E;
}

/*
.news-img{
	width:20%;
	height:100%;
	position:relative;
	left:0;
	top:0;
	background-color: red;
	border:1px solid green;
	float: left;
}
.news-head{
	width:80%;
	height:100%;
	background-color: blue;
	float: left;

	}*/


	/*----CSS for related to news tab----*/

	.news-menu{
		width:100%;
		height:40px;
		background-color: #F7F8E0; /*remove*/
	}
	.news-menu>ul>li{
		width:20%;
		float: left;
		text-transform: uppercase;
		text-align:center;

	}


	footer{
		height:40px;
		width:100%;
		background-color:black;
		position: fixed;
		bottom:0;
		z-index: 10;
	}
	footer>img{
		width:100%;
		height:100%;
	}
